
{% block content %}
<h1>RECORDS</h1>
			<br>
				<table class="table table-striped-columns table-hover table-bordered">
				  <thead class="table-dark">
				    <tr>
				      <th scope="col">Name</th>
				      <th scope="col">Email</th>
				      <th scope="col">Phone</th>
				      <th scope="col">Address</th>
				      <th scope="col">City</th>
				      <th scope="col">State</th>
				      <th scope="col">Zipcode</th>
				    </tr>
				  </thead>
				  <tbody> 
    				{% if api %}
    					{% for record in api %}	
						<tr>
					      <td>{{record.nombre}}</td>
					      <td>{{record.apellidos}}</td>
					      <td>{{record.email}}</td>
					      <td>{{record.telefono}}</td>
					      <td>{{record.direccion}}</td>
					      <td>{{record.ciudad}}</td>
					      <td>{{record.estado}}</td>
					      <td>{{record.codigopostal}}</td>
					    </tr>
					    {% endfor %}
					{% endif %}
				  </tbody>
				</table>
					
					<br>
{% endblock %}					